@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) ease;
    font-family: "Open Sans", sans-serif;
    
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 100vh;
}

a {
    color: #000;
    text-decoration: none;
}

.header-container {
    width: 100%;
    height: 10vh;
    background-color: rgb(65, 65, 206);
}

.header-container .content{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.header-container .logo-header-container{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.searchbar {
    width: 60%;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
.searchbar input{
    padding: 20px;
    border: none;
    border-radius: 30px;
}

.input-field{
    border: none;
}
.searchbar button {
    border: none;
    background-color: #fff;
}
.searchbar i{
    border: none;
    background-color: #fff;
    font-size: 18px;
    /* margin-left: 40px; */
    cursor: pointer;
}

.header-container .logo-header-container .logo img{
    width: 40%;
}

.account-header-container {
    display: flex;
    align-items: center;
    gap: 50px;
}


.account-header-container .user-account{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user a{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user a p{
    font-size: 15px;
    font-weight: 600;
}
.stores a{
    width: 60px;
    display: flex;
    flex-direction: column;
}
.stores a p{
    font-size: 15px;
    font-weight: 600;
}

.account-header-container .user-account i{
    font-size: 40px;
}

.shop-cart a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-cart a p{
    font-size: 15px;
    font-weight: 600;
}
.shop-cart i{
    font-size: 40px;
}

.header-keywords{
    width: 100%;
    height: 5vh;
    background-color: rgb(97, 97, 253);
    display: flex;
    overflow: hidden;
}
.header-keywords .keywordcontent{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-keywords .keywordcontent .keywords a{
    font-size: 13px;
    font-weight: 600;
}

.book-section{
    width: 100%;
    height: 100%;
    
}

.book-section .book-header{
    width: 80vw;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-header h2{
    font-size: 30px;
}
.book-header a{
    padding: 10px 50px;
    background-color: #0d1366;
    border: none;
    border-radius: 10px;
    color: #fff;

}


.book-content{
    width: 70vw;
    margin: 25px auto;
}

.book-content .image-header img{
    width: 100%;

}

.book-title .categories{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.categoires-images img{
    width: 100%;
}
.categoires-images p{
    font-weight: 600;
    font-size: 15px;
}


.categoires-images{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 8%;
}

.book-trending-section{
    width: 70vw;
    margin: 40px 0;
}

.trending-header{
    display: flex;
    align-items: center;
    gap: 30px;
}
.trending-header h2{
    font-size: 16px;
}
.trending-header a{
    font-size: 13px;
}


.trending-products{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    position: relative;
    overflow-x: auto;
}

.trending-books{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products-info{
    margin: 10px 0;
}

.products-info .books-image img{
    border: none;
    border-radius: 10px;
}

.product-upper-info{
    margin: 10px 0;
}
.product-upper-info p{
    margin: 10px 0;
    font-size: 14px;
}
.price{
    color: rgb(129, 4, 4);
    font-weight: 600;
}

.product-shop{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.product-shop button{
    border: none;
    background-color: #0aac04;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.product-shop button:hover{
    background-color: #0aac04bb;
    transform: translateY(-2px);
}




